block header
  nav.top-nav
    ul
      li
        a(href='/' target='_self')='Thrust Home'
      li
        a(href='/min' target='_self')='Play Now'
      li
        a(href='https://itunes.apple.com/us/app/thrust-30/id1168344027' target='_blank')='iOS Appstore'
      li
        a(href='https://hayesmaker.itch.io/thrust-30-demo' target='_blank')='Itch.io'
      li
        a(href='/development' target='_self')='Development'
      li
        a(href='/testimonials' target='_self')='Reviews & Testimonials'
