extends layout

block content
  h1 #{title} #[small v.#{version}]
  ul
    li
      #[a(onclick='window.init(); return false;' href='#') PLAY HERE ] #[a(href='/min') (minified)]
    li
      a(href='/javascripts/test/')='Unit Tests'
    li
      a(href='https://github.com/hayesmaker/thrust-engine')='Github'
    li
      a(href='/yuidoc')='Source Documentation'
