extends layout
block content
  include header
  #content
    img(src='https://travis-ci.org/hayesmaker/thrust-engine.svg?branch=master')
    p
    h4="Play"
    ul
      li
        a(href='/dev' target='blank')='Play Thrust'
        |  #[a(href='/min' target='blank') (minified)] #[a(href='/dev' target='blank') (dev)]
    h4="Test"
    ul
      li
        a(href='/javascripts/test/' target='blank')='Unit tests'
      li
        a(href='https://www.browserstack.com' target='blank')='E2E tests (Browserstack)'
      li
        a(href='https://travis-ci.org/hayesmaker/thrust-engine' target='blank')='Travis CI'
    h4="Source code & documentation"
    ul
      li
        a(href='/yuidoc' target='blank')='Source docs'
      li
        a(href='https://github.com/hayesmaker/thrust-engine' target='blank')='Github'
