extends layout

block content
  h1= title
  ul
    li
      a(href='/javascripts/test/')='Unit Tests'
    li
      a(href='/app')='Thrust Engine'
    li
      a(href='/min')='Minified'
    li
      a(href='https://github.com/hayesmaker/thrust-engine')='Github'
    li
      a(href='/yuidoc')='Source Documentation'