extends layout
block content
  include header
  #content
    a(href="https://twitter.com/hayes_maker" class="twitter-follow-button" data-show-count="false" data-size="large")="Follow @hayes_maker"
    img(src='https://travis-ci.org/hayesmaker/thrust-platform.svg?branch=master')
    div.horizontal
      br
      div.lists
        h4="Play"
        ul
          li
            a(href='/min' target='self')='Full Window (min)'
          li
            a(href='/app-loader' target='self')='Fixed size: 800x500'
          li
            a(href='/canvas' target='self')='Full Window (dev)'
          li
            a(href='/mobile' target='self')='Optimised for Mobile'
          li
            a(href='/app-loader?levelPack=2016' target='self')='Test 2016 Levels'

        h4="Test"
        ul
          li
            a(href='/javascripts/test/' target='blank')='Unit tests'
          li
            a(href='https://www.browserstack.com/automate' target='blank')='E2E tests (Browserstack)'
          li
            a(href='https://www.youtube.com/watch?v=foTPMehH_a4' target='blank')='E2E tests video example'
          li
            a(href='https://travis-ci.org/hayesmaker/thrust-platform' target='blank')='Travis CI'
        h4="Source code"
        ul
          li
            a(href='https://github.com/hayesmaker/thrust-platform/blob/master/CHANGELOG.md' target='blank')='Change Log'
          li
            a(href='/yuidoc' target='blank')='Source documentation'
          li
            a(href='https://github.com/hayesmaker/thrust-platform' target='blank')='Github'
      div.screenshot
        img(src='/assets/images/ios-screenie.png' style="width: 500px; height: 360px")
  a(href="https://github.com/hayesmaker/thrust-engine")
    img(style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png")
  include review
