doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        include google-analytics
        include twitter-follow
    body
        include header
        #topGradient
            img.logo(src='/assets/images/thrust-homepage-gradient-logo.png')
            iframe.video(width="853" height="480" src="https://www.youtube.com/embed/hUQ3x2m-OWI" frameborder="0" allowfullscreen)
            a(href='https://itunes.apple.com/us/app/thrust-30/id1168344027' target='_blank')
        .icons
            a(href='https://itunes.apple.com/us/app/thrust-30/id1168344027' target='_blank')
                img.ios(src='/assets/images/ios-badge.png')
            a(href="/min")
                img.ios(src='/assets/images/badge.png')
            a(href='https://play.google.com/store/apps/details?id=hayesmaker.thrust30&hl=en_GB&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1')
                img.ios(alt='Get Thrust 30 on Google Play' src='/assets/images/google-play-badge.png')
        main
            h1.news="News"
            article.news="v1.3.1 is now Live on iOS, Coming soon to Android! (10 Oct 2020)"
            article.news="v1.3 (Codenamed Speedking) Improves controls for all platforms (10 Oct 2020)"
            article.news="Android version is out now! (25 Nov 2017)"
                a.news(href='https://play.google.com/store/apps/details?id=hayesmaker.thrust30&hl=en_GB&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1' target='_blank')='Get on Google Play Store'
            article.news="IOS version is now free to play (Nov 2017)"
                a.news(href='http://steamcommunity.com/sharedfiles/filedetails/?id=823415391' target='_blank')='Get on Appstore'
            article.news="Announcing a complete re-write of Thrust 30 (Nov 2017)"
                a.news(href="/dev")='See Dev Section'
            article.news="Thrust 30 released on iOS (1st Jan 2017)"
                a.news(href='http://steamcommunity.com/sharedfiles/filedetails/?id=823415391' target='_blank')='Get on Appstore'
        #level2Map
            include review