doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        include google-analytics
        include twitter-follow
    body
        include header
        #topGradient
            img.logo(src='/assets/images/thrust-homepage-gradient-logo.png')
            iframe.video(width="853" height="480" src="https://www.youtube.com/embed/hUQ3x2m-OWI" frameborder="0" allowfullscreen)
            a(href='https://itunes.apple.com/us/app/thrust-30/id1168344027' target='_blank')
        img.ios(src='/assets/images/ios-badge.png')
        main
            h1.news="News"
            article.news="Full game is now free to play - play here at Thrust30.com (16 April 2017)"
                a.news(href='/min')='Play Now'
            article.news="Thrust 30 released on iOS (1 Jan 2017)"
                a.news(href='https://itunes.apple.com/us/app/thrust-30/id1168344027?mt=8' target='_blank')='Buy now on Appstore'
        #level2Map
            img.level-map(src='/assets/images/thrust-homepage-level2.png')