block review
  #review
    h1="About"
    .readable.
      <br>
      Celebrating the 30th anniversary of Jeremy Smith's "Thrust".
      In 1986 Firebird released a deviously fiendish physics based space explorer on Commodore 64.
      <br>
      <br>
      The game featured simple 2d vector graphics, a physics engine, limpet guns, and an orb.
      You controlled a ship, and your task on each level was to collect the orb, by
      means of a tractor beam which, when attached to the orb, would complicate the gravitational and thrust
      forces acting on your ship. making escaping the cave style level layouts require
      extraordinary skill and control.  Then fly the orb upwards into space where you
      hyperspace to the next level.
      <br>
      <br>
      The game, for a budget release was well received, and gameplay stands up well
      even today.  I've enjoyed playing the game a lot on emulators of the classic systems, but
      was fustrated with the poor IOS and android clones which can be found in the App store.
      <br>
      <br>
      So I decided to write one myself.
      <br>
      <br>
      Check out the game on IOS, or on any device with an HTML5 enabled browser.  Also get involved with ongoing development
      of the game, including Beta testing, feature requests, or even helping out in the Open Source Github Page.
      Plus Play development builds of the next run of Thrust 30 updates (currently in pre-alpha).
      <br>
      Checkout the <a href="/development" target="_self">Development</a> Section for more info.
      <br>
      <br>
      Follow for updates.
      <br>
      <br>
    a(href="https://twitter.com/hayesmakergames" class="twitter-follow-button" data-show-count="false" data-size="large")="Follow @hayesmakergames"
    h1="Credits"
    ul
      li="Programming: Andy Hayes"
      li="Music & SFX: Matt Gray"
      li="Additional Music: Martin Keary"
      li="Graphics: Martin Keary & Andy Hayes"
      li="\"Thrust\" original Programming and Copyright: Jeremy Smith"