doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        include google-analytics
        include twitter-follow
    body
        include header
        main
            h1="Reviews & Testimonials"
            ul
                li
                    p='Indie Retro News - "Thrust 30 is a highly recommend take on Thrust, and I am most impressed with what Hayes Maker Gamers has achieved with this early version and to get Matt Gray\'s involvement is pretty darn cool too!"'
                    a(href='http://www.indieretronews.com/2016/12/thrust-30-hayes-maker-games-celebrates.html' target='blank')='Indie Retro News Review'
                li
                    p='Youtuber and Thrust speedrunner: @gobbapeas - "This ranks amongst the very best of the Thrust and Gravity games. I\'ve played the demo and the ship handles like a dream."'
                li
                    p='M05.com - French Indie Magazine Review'
                    a(href='http://mag.mo5.com/actu/107600/thrust-30-celebre-le-trentenaire-dun-classique-en-demo' target='blank')='M05.com Review'
                li
                    p='Richard Davey (Phaser.io) - "That was such fun - I\'ve found another Staff Pick game here easily"'
                li
                    p='Milton - "Wow. Excellent. I don\'t often comment on games, but this just oozes style."'
